### Introduction to Machine Learning - Task 1B

In [1]:
#Import libraries
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

In [2]:
#Import data
df_train = pd.read_csv('train.csv')
df_train.head(5)

   Id          y        x1        x2        x3        x4        x5
0   0  -5.522114  1.764052  0.400157  0.978738  2.240893  1.867558
1   1 -21.789980 -0.977278  0.950088 -0.151357 -0.103219  0.410599
2   2  -7.911497  0.144044  1.454274  0.761038  0.121675  0.443863
3   3  -3.698062  0.333674  1.494079 -0.205158  0.313068 -0.854096
4   4 -16.001833 -2.552990  0.653619  0.864436 -0.742165  2.269755

#### Create features

In [3]:
#Quadratic
df_train['x6']=df_train['x1']**2
df_train['x7']=df_train['x2']**2
df_train['x8']=df_train['x3']**2
df_train['x9']=df_train['x4']**2
df_train['x10']=df_train['x5']**2

In [4]:
#Exponential using numpy
df_train['x11']=np.exp(df_train['x1'])
df_train['x12']=np.exp(df_train['x2'])
df_train['x13']=np.exp(df_train['x3'])
df_train['x14']=np.exp(df_train['x4'])
df_train['x15']=np.exp(df_train['x5'])
#Source: https://stackoverflow.com/questions/34000074/pandas-return-column-of-exponential-values

In [5]:
#Cosine using numpy
df_train['x16']=np.cos(df_train['x1'])
df_train['x17']=np.cos(df_train['x2'])
df_train['x18']=np.cos(df_train['x3'])
df_train['x19']=np.cos(df_train['x4'])
df_train['x20']=np.cos(df_train['x5'])

In [6]:
#Constant
df_train['x21']=1

In [7]:
#Have a look
df_train.head(5)

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,...,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21
0,0,-5.522114,1.764052,0.400157,0.978738,2.240893,1.867558,3.111881,0.160126,0.957928,...,1.492059,2.661096,9.401725,6.472471,-0.192055,0.921000,0.558070,-0.621062,-0.292425,1
1,1,-21.789980,-0.977278,0.950088,-0.151357,-0.103219,0.410599,0.955072,0.902668,0.022909,...,2.585938,0.859541,0.901930,1.507720,0.559281,0.581611,0.988567,0.994678,0.916882,1
2,2,-7.911497,0.144044,1.454274,0.761038,0.121675,0.443863,0.020749,2.114911,0.579178,...,4.281372,2.140496,1.129387,1.558717,0.989644,0.116259,0.724121,0.992607,0.903099,1
3,3,-3.698062,0.333674,1.494079,-0.205158,0.313068,-0.854096,0.111339,2.232272,0.042090,...,4.455232,0.814518,1.367614,0.425668,0.944845,0.076642,0.979029,0.951393,0.656901,1
4,4,-16.001833,-2.552990,0.653619,0.864436,-0.742165,2.269755,6.517757,0.427217,0.747250,...,1.922485,2.373667,0.476082,9.677026,-0.831717,0.793889,0.649069,0.737007,-0.643421,1

#### Regression

In [8]:
#Define X & Y
X=df_train[['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10','x11','x12','x13','x14','x15','x16','x17','x18',
            'x19','x20','x21']]
Y=df_train[['y']]

In [9]:
#Fit Linear Regression using scikit learn
regression = linear_model.LinearRegression(fit_intercept=False)
fit = regression.fit(X,Y)

In [10]:
#RMSE
Y_pred = fit.predict(X)
mean_squared_error(Y_pred,Y)**0.5

9.751892757972975

In [11]:
#Dataframe
submission=pd.DataFrame(data=fit.coef_).T
submission.columns=['weights']
submission.head(25)

     weights
0   0.621003
1  -1.880502
2   0.384095
3  -0.441386
4   0.386888
5  -0.361083
6   0.391405
7   0.175731
8  -2.719074
9   2.234341
10  1.178537
11  0.404125
12 -1.264123
13  0.615300
14 -0.339502
15  3.107236
16  1.840122
17  0.966937
18 -6.095857
19  3.971786
20 -6.313361

In [12]:
#Save submission file
submission.to_csv('submission.csv', header=False)