### Introduction to Machine Learning - Task 1A

In [1]:
#Import libraries
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer
from sklearn.metrics import mean_squared_error

In [2]:
#Import data
df_train = pd.read_csv('train.csv')
df_train.head(5)

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0,508.451970,0.886865,0.400531,1.103694,0.135455,8.148069,9.787555,79.749674,0.045166,1.859346,1.0
1,1,3972.980713,0.303604,-1.661598,0.772695,1.696182,0.455550,86.413653,39.365705,-0.014858,0.821406,1.0
2,2,-1.084332,1.065927,-1.607320,0.063896,-0.724311,-0.088216,0.132828,-0.011718,-0.773193,-1.489933,1.0
3,3,-340.149697,0.049530,-0.780820,-1.653181,0.663369,-2.492097,-1.243722,3.099476,-1.037881,0.346979,1.0
4,4,572.648651,0.417725,-1.150429,0.258384,0.045522,5.676019,-0.470274,-2.669283,0.632083,-0.510847,1.0

#### Ridge Regression

In [3]:
#Define X & Y
X = df_train[['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10']]
Y = df_train[['y']]

In [4]:
#Define Ridge Regression models using scikit learn
reg01   = linear_model.Ridge(alpha=0.1)
reg1    = linear_model.Ridge(alpha=1)
reg10   = linear_model.Ridge(alpha=10)
reg100  = linear_model.Ridge(alpha=100)
reg1000 = linear_model.Ridge(alpha=1000)

#### Cross Validation

In [5]:
#Create scorer for CV using scikit learn
mse = make_scorer(mean_squared_error)

In [6]:
#Get Scores using 10-fold cross validation from scikit learn
score01   = cross_val_score(reg01, X, Y, scoring=mse,cv=10).mean()**0.5
score1    = cross_val_score(reg1, X, Y, scoring=mse,cv=10).mean()**0.5
score10   = cross_val_score(reg10, X, Y, scoring=mse,cv=10).mean()**0.5
score100  = cross_val_score(reg100, X, Y, scoring=mse,cv=10).mean()**0.5
score1000 = cross_val_score(reg1000, X, Y, scoring=mse,cv=10).mean()**0.5

In [7]:
#Combine scores into one dataframe
scores=[[score01,score1, score10, score100, score1000]]
scores=pd.DataFrame(data=scores).T #dataframe + transpose
scores.columns=[['score']]
scores.head(5)

       score
0   1.010269
1   1.007163
2   1.023926
3   3.308083
4  31.769124

In [8]:
#Save submission file
scores.to_csv('submission.csv', header=False)