#### Import

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
#Import data
df_train = pd.read_csv('train.csv')
df_train.head(5)

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0,738.023171,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,1,400.646015,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,2,189.900156,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,3,-78.399449,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,4,-547.373531,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280

#### Check mean

In [3]:
#Check if mean is the same as stated in the description
mean=df_train[['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10']].mean(axis=1).round(decimals=7)
mean_df = pd.DataFrame(data=mean, columns=['mean'])
mean_df['actual']=df_train['y'].round(decimals=7)
mean_df['same']=(mean_df['actual']==mean_df['mean']).astype(int)
print('Unique Values: ',mean_df['same'].nunique())
mean_df.head(5)

#all rounded values are the same -> best predictions would be to predict the mean.

Unique Values:  1

         mean      actual  same
0  738.023171  738.023171     1
1  400.646015  400.646015     1
2  189.900156  189.900156     1
3  -78.399449  -78.399449     1
4 -547.373531 -547.373531     1

#### Training Set

In [4]:
#Regression
X=df_train[['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10']]
Y=df_train['y']
reg = LinearRegression().fit(X, Y)

In [5]:
#Train Score
Y_pred=reg.predict(X)
RMSE = mean_squared_error(Y, Y_pred)**0.5 
print(RMSE)
print('')
print(Y_pred) #-> basically mean

1.443455112277104e-12

[ 738.02317073  400.64601516  189.9001559  ...   61.17653809 -202.13648932
 -289.21899568]

#### Test Set

In [6]:
#Import
df_test = pd.read_csv('test.csv')
df_test.head(3)

,Id,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,10000,-483.797492,1288.057065,-129.878712,-198.078388,-334.487592,-391.443186,-612.406176,-676.523964,1327.229655,-448.695446
1,10001,-316.407305,30.830556,-313.356726,-173.259184,-327.368719,944.368248,1122.017380,112.338731,1372.340221,2062.561842
2,10002,-2448.558997,-561.988408,355.098820,634.378170,-392.450091,-813.156399,-232.873263,246.801210,-562.413197,-841.602015

In [7]:
#Prediction
X_test=df_test[['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10']]
Y_pred_test=reg.predict(X_test)
print(Y_pred_test)

[ -66.00242349  451.4065044  -461.67641706 ...  -35.13540942 -131.67918453
  417.26915462]

In [8]:
#Dataframe
Y_pred_test_df=pd.DataFrame(data=Y_pred_test, columns=['y'])
Y_pred_test_df.head(5)

            y
0  -66.002423
1  451.406504
2 -461.676417
3   40.501209
4 -126.744722

In [9]:
#Check if it is really the mean
df_test[['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10']].mean(axis=1).head(5)
# -)looks good

0    -66.002423
1    451.406504
2   -461.676417
3     40.501209
4   -126.744722
dtype: float64

In [10]:
#Submission
submission=pd.DataFrame(data=df_test['Id'], columns=['Id']) #Indices
submission['y']=Y_pred_test_df
submission.head(3)

      Id           y
0  10000  -66.002423
1  10001  451.406504
2  10002 -461.676417